/** Shrinkwrap URL:
 *    /v2/bundles/css?modules=o-footer%404.1.3%2Co-fonts%401.8.5%2Co-autoinit%401.2.0&shrinkwrap=o-assets%403.0.1%2Co-colors%403.4.1%2Co-grid%404.2.0%2Co-hoverable%403.0.1%2Csass-mq%403.2.9
 */
@font-face {
	src:url(https://origami-build.ft.com/v2/files/o-fonts-assets@1.3.0/BentonSans-Light.woff?#iefix) format("woff");
	font-family:BentonSans;
	font-weight:200;
	font-style:normal
}
@font-face {
	src:url(https://origami-build.ft.com/v2/files/o-fonts-assets@1.3.0/BentonSans-Regular.woff?#iefix) format("woff");
	font-family:BentonSans;
	font-weight:400;
	font-style:normal
}
@font-face {
	src:url(https://origami-build.ft.com/v2/files/o-fonts-assets@1.3.0/BentonSans-Bold.woff?#iefix) format("woff");
	font-family:BentonSans;
	font-weight:700;
	font-style:normal
}
@font-face {
	src:url(https://origami-build.ft.com/v2/files/o-fonts-assets@1.3.0/MillerDisplay-Regular.woff?#iefix) format("woff");
	font-family:MillerDisplay;
	font-weight:400;
	font-style:normal
}
@font-face {
	src:url(https://origami-build.ft.com/v2/files/o-fonts-assets@1.3.0/MillerDisplay-Bold.woff?#iefix) format("woff");
	font-family:MillerDisplay;
	font-weight:700;
	font-style:normal
}
@font-face {
	src:url(https://origami-build.ft.com/v2/files/o-fonts-assets@1.3.0/MillerDisplay-Black.woff?#iefix) format("woff");
	font-family:MillerDisplay;
	font-weight:800;
	font-style:normal
}
@font-face {
	src:url(https://origami-build.ft.com/v2/files/o-fonts-assets@1.3.0/MetricWeb-Thin.woff?#iefix) format("woff");
	font-family:MetricWeb;
	font-weight:100;
	font-style:normal
}
@font-face {
	src:url(https://origami-build.ft.com/v2/files/o-fonts-assets@1.3.0/MetricWeb-Light.woff?#iefix) format("woff");
	font-family:MetricWeb;
	font-weight:200;
	font-style:normal
}
@font-face {
	src:url(https://origami-build.ft.com/v2/files/o-fonts-assets@1.3.0/MetricWeb-LightItalic.woff?#iefix) format("woff");
	font-family:MetricWeb;
	font-weight:200;
	font-style:italic
}
@font-face {
	src:url(https://origami-build.ft.com/v2/files/o-fonts-assets@1.3.0/MetricWeb-Regular.woff?#iefix) format("woff");
	font-family:MetricWeb;
	font-weight:400;
	font-style:normal
}
@font-face {
	src:url(https://origami-build.ft.com/v2/files/o-fonts-assets@1.3.0/MetricWeb-RegularItalic.woff?#iefix) format("woff");
	font-family:MetricWeb;
	font-weight:400;
	font-style:italic
}
@font-face {
	src:url(https://origami-build.ft.com/v2/files/o-fonts-assets@1.3.0/MetricWeb-Medium.woff?#iefix) format("woff");
	font-family:MetricWeb;
	font-weight:500;
	font-style:normal
}
@font-face {
	src:url(https://origami-build.ft.com/v2/files/o-fonts-assets@1.3.0/MetricWeb-Semibold.woff?#iefix) format("woff");
	font-family:MetricWeb;
	font-weight:600;
	font-style:normal
}
@font-face {
	src:url(https://origami-build.ft.com/v2/files/o-fonts-assets@1.3.0/MetricWeb-Bold.woff?#iefix) format("woff");
	font-family:MetricWeb;
	font-weight:700;
	font-style:normal
}
@font-face {
	src:url(https://origami-build.ft.com/v2/files/o-fonts-assets@1.3.0/MetricWeb-BoldItalic.woff?#iefix) format("woff");
	font-family:MetricWeb;
	font-weight:700;
	font-style:italic
}
@font-face {
	src:url(https://origami-build.ft.com/v2/files/o-fonts-assets@1.3.0/FinancierDisplayWeb-Regular.woff?#iefix) format("woff");
	font-family:FinancierDisplayWeb;
	font-weight:400;
	font-style:normal
}
@font-face {
	src:url(https://origami-build.ft.com/v2/files/o-fonts-assets@1.3.0/FinancierDisplayWeb-MediumItalic.woff?#iefix) format("woff");
	font-family:FinancierDisplayWeb;
	font-weight:500;
	font-style:italic
}
@font-face {
	src:url(https://origami-build.ft.com/v2/files/o-fonts-assets@1.3.0/FinancierDisplayWeb-SemiboldItalic.woff?#iefix) format("woff");
	font-family:FinancierDisplayWeb;
	font-weight:600;
	font-style:italic
}
@font-face {
	src:url(https://origami-build.ft.com/v2/files/o-fonts-assets@1.3.0/FinancierDisplayWeb-LightItalic.woff?#iefix) format("woff");
	font-family:FinancierDisplayWeb;
	font-weight:200;
	font-style:italic
}
@font-face {
	src:url(https://origami-build.ft.com/v2/files/o-fonts-assets@1.3.0/FinancierTextWeb-Regular.woff?#iefix) format("woff");
	font-family:FinancierTextWeb;
	font-weight:400;
	font-style:normal
}
@font-face {
	src:url(https://origami-build.ft.com/v2/files/o-fonts-assets@1.3.0/FinancierTextWeb-RegularItalic.woff?#iefix) format("woff");
	font-family:FinancierTextWeb;
	font-weight:400;
	font-style:italic
}
.o-footer {
	background-color:#333;
	color:#fff;
	font-size:16px;
	margin-top:40px;
	padding:0;
	border-top:5px solid #9e2f50;
	line-height:auto
}
.o-footer ul {
	list-style-type:none;
	padding:0;
	margin-top:0;
	margin-bottom:0
}
.o-footer--theme-light {
	background-color:#f6e9d8;
	color:#333;
	border-top-color:#cec6b9
}
.o-footer__title {
	overflow:hidden;
	width:100%;
	margin-top:0;
	margin-bottom:10px;
	text-transform:uppercase;
	white-space:nowrap;
	text-overflow:ellipsis;
	font-weight:600;
	font-size:1.1em;
	color:#fff;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale
}
.o-footer--theme-light .o-footer__title {
	color:#333
}
.o-footer__link {
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden
}
.o-footer__link>a {
	display:block;
	text-decoration:none;
	padding:5px 0;
	color:#fff
}
.o-footer--theme-light .o-footer__link>a {
	color:#333
}
.o-footer__link>a:focus,.o-hoverable-on .o-footer__link>a:hover {
	color:#2e6e9e
}
.o-footer__section-link>a {
	text-transform:uppercase
}
.o-footer__nav {
	margin-top:20px;
	margin-bottom:20px
}
.o-footer__divider {
	margin-top:17px;
	border-bottom:#777 dotted 1px
}
.o-footer--theme-light .o-footer__divider {
	border-bottom-color:#cec6b9
}
.o-footer__link-lists {
	margin-top:20px
}
.o-footer__link-list {
	padding-top:40px;
	margin-bottom:20px
}
.o-footer__link-list>ul {
	margin:0
}
.o-footer__link-list>.o-footer__title {
	margin-top:-40px
}
.o-footer__container {
	position:relative;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	margin-left:auto;
	margin-right:auto;
	min-width:240px;
	max-width:1220px;
	max-width:1220px;
	padding-left:10px;
	padding-right:10px
}
@media (min-width:46.25em) {
	.o-footer__container {
		padding-left:20px;
		padding-right:20px
	}
}
@media (min-width:46.25em) {
	.o-footer__container--snappy,.o-grid-snappy .o-footer__container {
		max-width:740px
	}
}
@media (min-width:61.25em) {
	.o-footer__container--snappy,.o-grid-snappy .o-footer__container {
		max-width:980px
	}
}
@media (min-width:76.25em) {
	.o-footer__container--snappy,.o-grid-snappy .o-footer__container {
		max-width:1220px
	}
}
@media \0screen {
	.o-footer__container {
		padding-left:20px;
		padding-right:20px;
		width:980px
	}
}
.o-footer__row {
	clear:both;
	-ms-flex-wrap:wrap;
	flex-wrap:wrap;
	margin-left:-10px;
	zoom:1
}
.o-footer__row {
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex
}
@media print {
	.o-footer__row {
		display:inherit
	}
}
@media (min-width:46.25em) {
	.o-footer__row {
		margin-left:-20px
	}
}
@media \0screen {
	.o-footer__row {
		margin-left:-20px
	}
}
.o-footer__row:after,.o-footer__row:before {
	content:'';
	display:table
}
.o-footer__row:after,.o-footer__row:before {
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex
}
.o-footer__row:after {
	clear:both
}
.o-footer__col {
	position:relative;
	float:left;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-box-flex:1;
	-ms-flex:1 1 0%;
	flex:1 1 0%;
	padding-left:10px;
	display:block;
	-ms-flex-preferred-size:100%;
	flex-basis:100%;
	min-width:100%;
	max-width:100%;
	width:100%
}
@media \0screen {
	.o-footer__col {
		min-width:0!important
	}
}
@media (min-width:46.25em) {
	.o-footer__col {
		padding-left:20px
	}
}
@media \0screen {
	.o-footer__col {
		padding-left:20px
	}
}
@media (min-width:30.625em) {
	.o-footer__col {
		display:block;
		-ms-flex-preferred-size:50%;
		flex-basis:50%;
		min-width:50%;
		max-width:50%
	}
}
@media \0screen {
	.o-footer__col {
		display:block;
		width:50%
	}
}
@media (min-width:46.25em) {
	.o-footer__col {
		display:block;
		-ms-flex-preferred-size:33.33333%;
		flex-basis:33.33333%;
		min-width:33.33333%;
		max-width:33.33333%
	}
}
@media \0screen {
	.o-footer__col {
		display:block;
		width:33.33333%
	}
}
@media (min-width:61.25em) {
	.o-footer__col {
		display:block;
		-ms-flex-preferred-size:25%;
		flex-basis:25%;
		min-width:25%;
		max-width:25%
	}
}
@media \0screen {
	.o-footer__col {
		display:block;
		width:25%
	}
}
@media (min-width:76.25em) {
	.o-footer__col {
		display:block;
		-ms-flex-preferred-size:16.66667%;
		flex-basis:16.66667%;
		min-width:16.66667%;
		max-width:16.66667%
	}
}
.o-footer__col--full-width {
	display:block;
	-ms-flex-preferred-size:100%;
	flex-basis:100%;
	min-width:100%;
	max-width:100%;
	width:100%
}
.o-footer__copyright {
	margin-top:20px;
	margin-bottom:20px;
	line-height:1.3;
	color:#999
}
.o-footer__copyright span {
	display:inline-block
}
.o-footer--theme-light .o-footer__copyright {
	color:#777
}
.o-footer__brand,.o-footer__pearson {
	background-color:#505050;
	padding-top:15px;
	padding-bottom:15px;
	color:#fff
}
.o-footer--theme-light .o-footer__brand,.o-footer--theme-light .o-footer__pearson {
	background-color:#a7a59b;
	color:#fff
}
.o-footer__brand-logo,.o-footer__pearson-logo,.o-footer__pearson-tagline {
	height:119px;
	background-image:url(../images/bonsai_tiger_logo.png);
	background-repeat:no-repeat;
	white-space:nowrap;
	background:rgba(0,0,0,.001) url(../images/bonsai_tiger_logo.png) no-repeat
}
.o-footer__pearson-tagline {
	display:none
}
.o-footer__brand-logo,.o-footer__pearson-logo {
	float:right;
	width:562px;
	background-position:right 0
}
@media (max-width:30.615em) {
	.o-footer__link-lists {
		margin-top:0;
		margin-bottom:40px
	}
	.o-footer__link-list {
		margin-bottom:0;
		padding-top:0
	}
	.o-footer__link-list>ul {
		margin-top:0
	}
	.o-footer__link-list>.o-footer__title {
		position:static;
		margin-top:0;
		margin-bottom:10px
	}
	.o-footer__link-list+.o-footer__link-list>.o-footer__title {
		margin-top:20px
	}
}
body {
	background-color:#fff1e0;
	color:#333;
	font-family:MetricWeb,sans-serif
}
